.proxy-container,
.proxy-configuration {
  height: fit-content;
  width: fit-content;
}

.proxy-panel {
  border-radius: 4px;
  padding: 8px;
  background-color: #a7aaac13;
}

.c-radio {
  width: 18px;
  height: 18px;
}

.c-radio-label {
  display: inline-block;
  height: 18px;
}

.sock-s-span,
.http-s-span {
  margin-left: 4px;
  margin-right: 4px;
}

.sock-s-input,
.http-s-input {
  width: 150px;
  max-width: 150px;
}

.sock-s-port,
.http-s-port {
  width: 60px;
  max-width: 60px;
}

.sock-s-protocol {
  margin-left: 100px;
}


.bypass-list,
.white-proxy-list {
  min-height: 50px;
  width: 380px;
  resize: none;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, sans-serif'
}

.button-group{
  height: 30px;
  width: 396px;
  margin: 8px 0px 8px 0px;
}

.c-button {
  height: 28px;
  width: 80px;
  margin-left: 8px;
  margin-right: 16px;
  border-radius: 4px;
}

.c-button:hover{
  background-color: rgb(161, 165, 165);
}

